<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <mat-drawer-container class="example-container row">
                <mat-drawer mode="side" opened class="col-md-1 bg-dark position-fixed custom-fixed-drawer">
                    <div class="col-md-12 mt-3">
                        <img src="https://upload.wikimedia.org/wikipedia/fr/4/4f/Discord_Logo_sans_texte.svg" width="80px" height="100" alt="">
                    </div>
                    <div class="col-md-12 text-center">
                        <i class="fas fa-light fa-user-astronaut fa-3x img-fluid mt-3 text-warning"></i>
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <i class="fas fa-light fa-comment fa-2x img-fluid mt-3 text-info"></i>
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <i class="fas fa fa-cog fa-2x img-fluid mt-3 text-info" aria-hidden="true"></i>
                    </div>
                </mat-drawer>
                <mat-drawer-content class="col-md-11">
                    <!-- Main content -->
                    <!-- Add your main content here -->
                    <h1>hi</h1>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>